<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <!--  <h2>Hello [[prop1]]!</h2> -->
    <div class="container">
      <div class="row">
        <img width="200px" height="200px" src="https://image.flaticon.com/icons/svg/1040/1040228.svg"  />
      </div>
      <div class="row">
        <button on-click="incrementar" class="col-lg-4 col-xs-12">Cargar Datos </button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" />
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Fuertes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  <!--  <h3> Mi Visor [[prop2]]</h3> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'mi-visor'
          },
          prop2: {
            type:Number,
            value:999
          },
          prop3: {
            type:String,
            value:"Indique su usuario"
          }
        };
      }
      incrementar() {
          this.prop2 = this.prop2 + 1;
          console.log(this.prop1);
          console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>

</dom-module>
